 
body {
    background-color: #6e90b3;
  }
  
  h1 {
    background-color: rgb(47, 47, 183);
    padding: 20px;
    text-align: center;
    font: 30;
    color: rgb(255, 255, 255);
  }
  
  div.box {
    border: 3px solid rgb(21, 14, 14);
    padding: 3px;
  
  }
  
  div.center {
    border: 2px solid black;
    padding: 2px;
    text-align: center;
    background-color: rgb(203, 203, 203);
  
  }
  
  div.marg {
    position: relative;
    text-align: center;
  }
  
  div.text {
    font: bolder;
  }
  
  div.contact {
    text-align: center;
    background-color: rgb(47, 47, 183);
    padding: 5px;
    color: rgb(255, 255, 255);
  }
  nav {
    text-align: center;
  }
  
  .uber{
    color: white;
  }
 